# 1.Introduction

In [3]:
import pandas as pd
import numpy as np
import google
google.colab.drive.mount('/content/drive/')
pd.set_option('display.max_columns', None)

Mounted at /content/drive/

In [11]:
df = pd.read_csv('/content/drive/My Drive/cursos/disciplina_python_dados/caged_mg_2020_filtrado.csv')

In [13]:
df1 = df.query("salario_mensal >= 1020 & salario_mensal <= 15000 & cnae_2_secao == 'M'").copy()

In [14]:
len(df), len(df1)

(1623070, 51593)

# 2.Transformations II

### New cols based on anothers

Constructing new columns based on some conditions applied in another column

### 1) .loc[]

The simples way. Ideal when we have few options

In [15]:
df1.loc[ (df1['idade'] < 20) , 'idade'] # testing some condition
# note that .loc[] retrieves two informations: the index and the values

531        19.0
2166       18.0
2906       19.0
3532       19.0
3704       19.0
           ...
1618068    18.0
1619293    19.0
1620505    18.0
1621332    19.0
1621757    18.0
Name: idade, Length: 3121, dtype: float64

In [16]:
# assign new value to a column that does not exist --> it will be automatically created
# we filter and transform at the same time
df1.loc[ (df1['idade'] < 20) , 'grupo_idade'] = 'ate_20'

In [17]:
# extending transformations to other groups
df1.loc[ (df1['idade'] >= 20) & (df1['idade'] < 40), 'grupo_idade'] = 'entre_20_40'
df1.loc[ (df1['idade'] >= 40) & (df1['idade'] < 60), 'grupo_idade'] = 'entre_40_60'
df1.loc[ (df1['idade'] >= 60), 'grupo_idade'] = 'mais_que_60'

In [18]:
df1.info() # cheking the new column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51593 entries, 29 to 1623036
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ano                       51593 non-null  int64
 1   mes                       51593 non-null  int64
 2   sigla_uf                  51593 non-null  object
 3   id_municipio              51593 non-null  int64
 4   id_municipio_6            51593 non-null  int64
 5   cnae_2_secao              51593 non-null  object
 6   cnae_2_subclasse          51593 non-null  int64
 7   cbo_2002                  51593 non-null  int64
 8   saldo_movimentacao        51593 non-null  object
 9   grau_instrucao            51593 non-null  int64
 10  idade                     51593 non-null  float64
 11  raca_cor                  51593 non-null  int64
 12  sexo                      51593 non-null  object
 13  salario_mensal            51593 non-null  float64
 14  horas_contratuais         51593 non-null  int64
 15  descricao_ocupacao        51593 non-null  object
 16  descricao_grau_instrucao  51593 non-null  object
 17  grupo_idade               51593 non-null  object
dtypes: float64(2), int64(9), object(7)
memory usage: 7.5+ MB

### 2) if/else

We are going to use programming logic to solve some problems with dataframes

if/else conditions are at the core of any programming language.

It is also usefull when applying transformations in columns of a dataframe

#### if/else in Python

##### with numeric

In [19]:
# let's remember bollean operations
3 == 9

False

In [20]:
3 <= 9 # > or < returns a bollean output

True

In [21]:
# after if we must pass a 'tab' or four spaces
# this is called IDENTATION in python and facilitates visualize hierarquies between lines of code
# in this case, print() command will only be executed if the condition is TRUE:
if 3 < 9:
  print('The sentence provided is True')

The sentence provided is True

In [23]:
# which is the smallest number?
number_1 = 3
number_2 = 9

# if statements only proceeds with  command if sentence provided is True
# identation matters
if number_1 < number_2:
  print('number_1 is the smallest')

number_1 is the smallest

In [24]:
number_1 = 3 # test with 10
number_2 = 9

if number_1 < number_2:
  print('number_1 is the smallest')
else: # if 'if statement' is false, what should the programm do
  print('number_2 is the smallest ')

number_1 is the smallest

In [25]:
# What happens if the two numbers provided are the same?
number_1 = 9
number_2 = 9

# if statements only proceeds with chainned command if sentence provided is True
if number_1 < number_2:
  print('number_1 is the smallest')
else:
  print('number_2 is the smallest ')

number_2 is the smallest

In [26]:
# all possible conditions
number_1 = 3
number_2 = 9

if number_1 < number_2:
  print('number_1 is the smallest')
elif number_1 == number_2: # elif is an EXCLUSIVE option: can only be executed if none of the previouslly 'if statements' were true
  print('both numbers are the same')
else:
  print('number_2 is the smallest ')

number_1 is the smallest

###### Building a program (optional)

In [ ]:
#number_1 # everything that enters in input is a string

In [ ]:
#number_1 = input('Enter with number_1: ')
#number_2 = input('Enter with number_2: ')

# converting strings into integers
#number_1 = int(number_1)
#number_2 = int(number_2)

#if number_1 < number_2:
#  print('number_1 is the smallest')
#elif number_1 == number_2:
#  print('both numbers are the same')
#else:
#  print('number_2 is the smallest ')

##### with strings

In [27]:
fofoca = 'Marcos, Marina, João e Letícia mataram aula do minicurso para irem ao carnaval'

In [28]:
'Marcos' in fofoca

True

In [29]:
# in this case, strings are CASE SENSITIVE --> if we try 'marcos' if/else conditions would fail
if 'Marcos' in fofoca:
  print('Marcos não vai ganhar certificado')
else:
  print('Marcos vai ganhar certificado')

Marcos não vai ganhar certificado

In [ ]:
# BUG --> hardcode solution --> this code works only for Marcos
if 'Letícia' in fofoca:
  print('Marcos não vai ganhar certificado')
else:
  print('Marcos vai ganhar certificado')

Marcos não vai ganhar certificado

##### Exercise, how to solve this bug (tip: use f-string seen in last class)

In [30]:
# it shall begin with
nome = 'Marina'

# and it should uses f-strings
print(f'Olá, eu me chamo {nome}')

Olá, eu me chamo Marina

In [31]:
pessoa = 'Marina'

if pessoa in fofoca:
  print(f'{pessoa} não vai ganhar certificado')
else:
  print(f'{pessoa} vai ganhar certificado')

Marina não vai ganhar certificado

#### if/else in dataframes

In [32]:
# we have both False and True values --> 'truth value of a series is ambigous'
df1['idade'] < 20

29         False
30         False
68         False
102        False
115        False
           ...
1622798    False
1622870    False
1622962    False
1623000    False
1623036    False
Name: idade, Length: 51593, dtype: bool

What we need to do is an operation that takes row by row and verify if it meets certain condition

#### def func():

Creating functions/methods

##### with numbers

In [33]:
# functions can take anyname --> in this case: 'dobrar'
def dobrar(x): # functions can receive any arguments --> in this case: 'x'
  return x*2 # and them inside function we do operations with arguments informed

In [35]:
dobrar(x = 4) # or dobrar(4)

8

In [36]:
def somar(x, y):
  return x + y

In [ ]:
somar(x = 1, y = 5) # or somar(1,5)

6

In [37]:
# woks the same way
somar(1, 5) # as x was defined as the first arg, the fist element will always be x and the second will be y (order matters)

6

##### with strings

In [38]:
def four_first_letters(x):
  return x[0:4]

In [39]:
four_first_letters('macarrao')

'maca'

In [40]:
# or
four_first_letters(x = 'macarrao')

'maca'

In [41]:
def saude(x):
  return x + ', um pouco de salada'

In [42]:
x = 'um pouco de droga'
saude(x)

'um pouco de droga, um pouco de salada'

#### .apply()

Applies a function into a series of a dataframe or on the dataframe itself (to each observation, one per time)

##### Modifying numerics

In [43]:
def dobrar(x):
  return x*2

In [44]:
df1['horas_contratuais']

29         40
30         44
68         44
102        44
115        44
           ..
1622798    40
1622870    40
1622962    44
1623000    44
1623036    44
Name: horas_contratuais, Length: 51593, dtype: int64

In [45]:
# apply is a method to 'apply' functions into dataframes (or series)
df1['horas_contratuais'].apply(dobrar) # we dont need to set dobrar() inside apply, just dobrar without ()
# it will apply the func into each element of the dataframe (or series)
# in this case its applying only on a series (a column of a dataframe)

29         80
30         88
68         88
102        88
115        88
           ..
1622798    80
1622870    80
1622962    88
1623000    88
1623036    88
Name: horas_contratuais, Length: 51593, dtype: int64

In [46]:
# applytin .apply(dobrar) into a subset of a dataframe, which is a dataframe itself
df1[ ['horas_contratuais', 'salario_mensal'] ].apply(dobrar)

         horas_contratuais  salario_mensal
29                      80     2114.000000
30                      88     6000.000000
68                      88     3498.000000
102                     88     3111.760010
115                     88     4000.000000
...                    ...             ...
1622798                 80    19000.000000
1622870                 80     3000.000000
1622962                 88     2400.000000
1623000                 88     2333.100098
1623036                 88     2288.000000

[51593 rows x 2 columns]

##### Modifying strings

In [47]:
df['horas_contratuais'].head()

0    44
1    44
2    44
3    44
4    44
Name: horas_contratuais, dtype: int64

In [48]:
def horas_string_func(x):
  return str(x) + ' horas'

In [49]:
df1['horas_contratuais'].apply(horas_string_func)

29         40 horas
30         44 horas
68         44 horas
102        44 horas
115        44 horas
             ...
1622798    40 horas
1622870    40 horas
1622962    44 horas
1623000    44 horas
1623036    44 horas
Name: horas_contratuais, Length: 51593, dtype: object

In [50]:
# assign values into a new variable
df1['horas_contratuais_string'] = df1['horas_contratuais'].apply(horas_string_func)

##### Categorizing

def, if/else and apply

In [51]:
df1['idade']

29         44.0
30         43.0
68         50.0
102        27.0
115        31.0
           ...
1622798    34.0
1622870    30.0
1622962    26.0
1623000    20.0
1623036    24.0
Name: idade, Length: 51593, dtype: float64

In [53]:
def grupo_idade_func(x):
  if x < 20:
    return 'ate_20'
  elif (x >= 20) & (x < 40):
    return 'entre_20_40'
  elif (x >= 40) & (x < 60):
    return 'entre_40_60'
  else:
    return 'mais_que_60'

In [54]:
df1['idade'].apply(grupo_idade_func)

29         entre_40_60
30         entre_40_60
68         entre_40_60
102        entre_20_40
115        entre_20_40
              ...
1622798    entre_20_40
1622870    entre_20_40
1622962    entre_20_40
1623000    entre_20_40
1623036    entre_20_40
Name: idade, Length: 51593, dtype: object

In [55]:
df1['grupo_idade2'] = df1['idade'].apply(grupo_idade_func)

## 3) np.select()

3 steps:


*   1) set the conditions
*   2) set the values you want
*   3) apply func

The most efficient solution (memory optimization)

In [56]:
conditions = [ df1['idade'] < 20,
              (df1['idade'] >= 20) & (df1['idade'] < 40),
              (df1['idade'] >= 40) & (df1['idade'] < 60),
               df1['idade'] > 60]

In [57]:
values = ['ate_20',
          'entre_20_40',
          'entre_40_60',
          'mais_que_60']

In [58]:
np.select(conditions, values)

array(['entre_40_60', 'entre_40_60', 'entre_40_60', ..., 'entre_20_40',
       'entre_20_40', 'entre_20_40'], dtype='<U11')

In [59]:
df1['grupo_idade3'] = np.select(conditions, values)
df1['grupo_idade3']

29         entre_40_60
30         entre_40_60
68         entre_40_60
102        entre_20_40
115        entre_20_40
              ...
1622798    entre_20_40
1622870    entre_20_40
1622962    entre_20_40
1623000    entre_20_40
1623036    entre_20_40
Name: grupo_idade3, Length: 51593, dtype: object

## 4) np.where()

same functionality than ifelse() in R

np.where(condition, value if true, value if false)

In [60]:
df1['sexo'].value_counts()

Homem     31129
Mulher    20464
Name: sexo, dtype: int64

In [63]:
np.where(df1['sexo'] == 'Homem', 1, 2)

array([1, 1, 1, ..., 1, 1, 1])

In [64]:
df1['genero'] = np.where(df1['sexo'] == 'Homem', 1, 2)

In [65]:
df1['genero'].value_counts()

1    31129
2    20464
Name: genero, dtype: int64

# 3.Bonus Section

## 3.1 Difference between if and elif

In [ ]:
# In previouslly examples we did:
number_1 = 3
number_2 = 9

if number_1 < number_2: # if condition 1 is met, the program will stop there, and do what command inside it requires
  print('number_1 is the smallest')
elif number_1 == number_2:
  print('both numbers are the same')
else:
  print('number_2 is the smallest ')

number_1 is the smallest

In [ ]:
# if we use ifs instead of elifs --> program will continue and check every if
number_1 = 3
number_2 = 9

if number_1 < number_2:
  print('number_1 is the smallest')
if number_1 + 2 < number_2:
  print('number_1 plus 2 is still the smallest')
if number_1 + 5 < number_2:
  print('number_1 is the smalles event if we add 5')

number_1 is the smallest
number_1 plus 2 is still the smallest
number_1 is the smalles event if we add 5

In [ ]:
# if elif is used, no matter if condition setted is true,
# if some condition before it is true, program will stop check conditions
number_1 = 3
number_2 = 9

if number_1 < number_2:
  print('number_1 is the smallest')
elif number_1 + 2 < number_2:
  print('number_1 plus 2 is still the smallest')
elif number_1 + 5 < number_2:
  print('number_1 is the smalles event if we add 5')

number_1 is the smallest