# 1.Introduction

In [ ]:
import pandas as pd
import google

In [ ]:
google.colab.drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
# pd.set_option('display.max_columns', None)

In [ ]:
path_base = '/content/drive/My Drive/cursos/disciplina_python_dados/caged_mg_2020_filtrado.csv'

In [ ]:
# We must wait for the file to upload
df = pd.read_csv(path_base)
# as we are going to make some copies of dataframes --> it is best to upload a reduced dataframe

In [ ]:
df.columns

Index(['ano', 'mes', 'sigla_uf', 'id_municipio', 'id_municipio_6',
       'cnae_2_secao', 'cnae_2_subclasse', 'cbo_2002', 'saldo_movimentacao',
       'grau_instrucao', 'idade', 'raca_cor', 'sexo', 'salario_mensal',
       'horas_contratuais', 'descricao_ocupacao', 'descricao_grau_instrucao'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1623070 entries, 0 to 1623069
Data columns (total 17 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ano                       1623070 non-null  int64
 1   mes                       1623070 non-null  int64
 2   sigla_uf                  1623070 non-null  object
 3   id_municipio              1623070 non-null  int64
 4   id_municipio_6            1623070 non-null  int64
 5   cnae_2_secao              1623070 non-null  object
 6   cnae_2_subclasse          1623070 non-null  int64
 7   cbo_2002                  1623070 non-null  int64
 8   saldo_movimentacao        1623070 non-null  object
 9   grau_instrucao            1623070 non-null  int64
 10  idade                     1623070 non-null  float64
 11  raca_cor                  1623070 non-null  int64
 12  sexo                      1623070 non-null  object
 13  salario_mensal            1623070 non-null  float64
 14  horas_contratuais         1623070 non-null  int64
 15  descricao_ocupacao        1623070 non-null  object
 16  descricao_grau_instrucao  1623070 non-null  object
dtypes: float64(2), int64(9), object(6)
memory usage: 210.5+ MB

In [ ]:
#df1 = df.query('saldo_movimentacao == 1')

In [ ]:
#df1.to_csv('/content/drive/My Drive/cursos/disciplina_python_dados/caged_mg_2020_filtrado.csv', index=False)

# 2.Filtering Dataframes (subsets)

## 2.1 By columns

Filtering by columns

### 2.1.1 df[['col1', 'col2']]

In practive, we rarelly need all columns.
So for the sake of simplicity and memory usage, it is usefull to work with just a few of them.

In [ ]:
# remember how to access columns
df[['mes', 'ano', 'saldo_movimentacao', 'cnae_2_secao', 'salario_mensal']].head(5)

   mes   ano saldo_movimentacao cnae_2_secao  salario_mensal
0   11  2020           admissão            G     1554.119995
1   11  2020           admissão            F     1201.199951
2   11  2020           admissão            G     1128.739990
3   11  2020           admissão            F     1627.689941
4   11  2020           admissão            G     1148.319946

### 2.1.2 .copy()

Copy guarantees you will create a totally new dataframe (subset) from the original dataset

If not, pandas will throw warning when you apply functions to the new dataset not copied

Attention!! choose your copies wisely:


*   Increase memory usage
*   Can turns the code difficult the re-read after a while

If not, in the end you will have a df1, df2, df2_final, df2_true_final...

In [ ]:
# lets build a subset from the original dataframe with just a few columns (SLIDE)
df1 = df[['mes', 'ano', 'sigla_uf', 'saldo_movimentacao',
          'cnae_2_secao', 'salario_mensal']].copy()

In [ ]:
df1.head()
# Watchout: with double datasets you need double ram memory

   mes   ano sigla_uf saldo_movimentacao cnae_2_secao  salario_mensal
0   11  2020       MG           admissão            G     1554.119995
1   11  2020       MG           admissão            F     1201.199951
2   11  2020       MG           admissão            G     1128.739990
3   11  2020       MG           admissão            F     1627.689941
4   11  2020       MG           admissão            G     1148.319946

## 2.2 By rows

### 2.2.1 Numeric conditions

In [ ]:
df

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo
3,2020,11,MG,3144805,314480,F,4321500,716610,admissão,7,32.0,2,Homem,1627.689941,44,Pintor de Obras,Médio Completo
4,2020,11,MG,3122306,312230,G,4713001,411005,admissão,7,30.0,3,Mulher,1148.319946,44,"Auxiliar de Escritorio, em Geral",Médio Completo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623065,2020,3,MG,3170701,317070,H,5211799,411010,admissão,9,42.0,1,Homem,2447.199951,44,Assistente Administrativo,Superior Completo
1623066,2020,3,MG,3151800,315180,I,5611203,513205,admissão,7,23.0,6,Homem,1700.000000,44,Cozinheiro Geral,Médio Completo
1623067,2020,3,MG,3125101,312510,C,2622100,411010,admissão,9,24.0,1,Homem,2900.000000,44,Assistente Administrativo,Superior Completo
1623068,2020,3,MG,3131307,313130,G,4754702,411005,admissão,7,22.0,3,Mulher,1193.000000,44,"Auxiliar de Escritorio, em Geral",Médio Completo
1623069,2020,3,MG,3147006,314700,A,141501,622115,admissão,3,24.0,3,Homem,1501.579956,44,Trabalhador da Cultura de Milho e Sorgo,5ª Completo Fundamental

In [ ]:
# first we need to build a boolean series with some kind of condition
# a boolean series its a series of values with True or False based on some condition
df['id_municipio'] == 3106200

0          False
1          False
2          False
3          False
4          False
           ...
1623065    False
1623066    False
1623067    False
1623068    False
1623069    False
Name: id_municipio, Length: 1623070, dtype: bool

In [ ]:
# then set this condition as filter
# for numeric --> capture just the rows which matches the choosen condition
# it will filter just those conditions in which boolean value is True
df[ df['id_municipio'] == 3106200 ].head()
# all columns are the same, we just filtered by rows

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
8,2020,11,MG,3106200,310620,N,8211300,391215,admissão,9,26.0,3,Homem,1890.660034,44,Operador de Inspecao de Qualidade,Superior Completo
11,2020,11,MG,3106200,310620,I,5590699,514320,admissão,7,28.0,6,Mulher,1130.000000,44,Faxineiro (Desativado em 2010),Médio Completo
14,2020,11,MG,3106200,310620,G,4724500,421125,admissão,7,28.0,3,Mulher,1136.180054,44,Operador de Caixa,Médio Completo
20,2020,11,MG,3106200,310620,G,4789099,421125,admissão,7,23.0,6,Mulher,1170.400024,44,Operador de Caixa,Médio Completo
27,2020,11,MG,3106200,310620,F,4330499,715545,admissão,7,27.0,3,Homem,1749.000000,44,Montador de Andaimes (Edificacoes),Médio Completo

#### = or ==?

In [ ]:
# = is to store something into an object
a = 'Arvore'
a

'Arvore'

In [ ]:
# == is to check if some object meets some condition
a == 'Arvore' # try arvores, or just 'arvore

True

#### >, >=, !=

In [ ]:
df[df['mes'] > 3].head(3) # use '>' for exclusive or '>=' for inclusive
# ATTENTION: order matters, use >=, not =>

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo

In [ ]:
# != for 'not equal'
df[df['mes'] != 11].head(3)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
53254,2020,7,MG,3145901,314590,C,2330302,784205,admissão,7,27.0,3,Homem,1088.089966,44,Alimentador de Linha de Producao,Médio Completo
53255,2020,7,MG,3126109,312610,N,7719599,782510,admissão,4,37.0,1,Homem,1964.500000,44,Motorista de Caminhao (Rotas Regionais e Inter...,6ª a 9ª Fundamental
53256,2020,7,MG,3170206,317020,N,8299706,421125,admissão,7,43.0,1,Mulher,1449.239990,44,Operador de Caixa,Médio Completo

### 2.2.2 Strings conditions

In [ ]:
# strings always come inside quotes or double quotes
df[df['cnae_2_secao'] == 'M'].head()

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
29,2020,11,MG,3106200,310620,M,7210000,514225,admissão,5,44.0,2,Homem,1057.000000,40,Trabalhador de Servicos de Limpeza e Conservac...,Fundamental Completo
30,2020,11,MG,3135100,313510,M,7120100,715125,admissão,7,43.0,3,Homem,3000.000000,44,Operador de Maquinas de Construcao Civil e Min...,Médio Completo
68,2020,11,MG,3106200,310620,M,7112000,715525,admissão,5,50.0,3,Homem,1749.000000,44,Carpinteiro de Obras,Fundamental Completo
102,2020,11,MG,3170206,317020,M,7020400,411010,admissão,8,27.0,3,Mulher,1555.880005,44,Assistente Administrativo,Superior Incompleto
115,2020,11,MG,3106200,310620,M,7490104,411010,admissão,8,31.0,6,Mulher,2000.000000,44,Assistente Administrativo,Superior Incompleto

In [ ]:
df[df['descricao_ocupacao'] == 'Economista']
# this filter meets only those jobs whose description is exatly 'Economista',
# i.e 'Economista Doméstico' is out

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
47773,2020,11,MG,3106200,310620,M,7112000,251205,admissão,9,39.0,1,Mulher,3100.000000,40,Economista,Superior Completo
144884,2020,11,MG,3144805,314480,B,724301,251205,admissão,80,29.0,1,Mulher,7902.439941,44,Economista,Pós-Graduação completa
170866,2020,7,MG,3171303,317130,S,9430800,251205,admissão,9,38.0,3,Homem,8551.610352,40,Economista,Superior Completo
226400,2020,2,MG,3170206,317020,N,7740300,251205,admissão,9,25.0,3,Homem,1500.000000,44,Economista,Superior Completo
235570,2020,2,MG,3106200,310620,N,7810800,251205,admissão,9,23.0,1,Homem,3610.820068,43,Economista,Superior Completo
388964,2020,12,MG,3170206,317020,N,7911200,251205,admissão,7,30.0,1,Homem,1759.260010,44,Economista,Médio Completo
446396,2020,9,MG,3106200,310620,N,8211300,251205,admissão,9,24.0,6,Homem,2820.199951,44,Economista,Superior Completo
564593,2020,12,MG,3106200,310620,K,6612601,251205,admissão,9,40.0,1,Mulher,7000.000000,40,Economista,Superior Completo
573159,2020,6,MG,3136702,313670,F,4120400,251205,admissão,9,26.0,6,Homem,3000.000000,44,Economista,Superior Completo
710438,2020,3,MG,3106200,310620,M,7112000,251205,admissão,9,47.0,1,Homem,4000.000000,40,Economista,Superior Completo
766587,2020,8,MG,3131000,313100,C,1012103,251205,admissão,9,38.0,3,Mulher,2174.000000,44,Economista,Superior Completo
824295,2020,7,MG,3106200,310620,N,8211300,251205,admissão,9,28.0,1,Homem,6458.910156,44,Economista,Superior Completo
835522,2020,1,MG,3106200,310620,O,8411600,251205,admissão,9,33.0,6,Homem,7660.930176,40,Economista,Superior Completo
928921,2020,8,MG,3170206,317020,K,6550200,251205,admissão,9,50.0,1,Mulher,3675.000000,42,Economista,Superior Completo
974213,2020,4,MG,3106200,310620,K,6541300,251205,admissão,80,31.0,6,Mulher,7142.490234,40,Economista,Pós-Graduação completa
1084485,2020,1,MG,3170206,317020,N,7911200,251205,admissão,9,45.0,1,Homem,1374.130005,44,Economista,Superior Completo
1205190,2020,9,MG,3106200,310620,K,6422100,251205,admissão,80,34.0,3,Homem,5533.330078,40,Economista,Pós-Graduação completa
1321417,2020,2,MG,3154606,315460,N,8219999,251205,admissão,80,40.0,2,Homem,2500.000000,44,Economista,Pós-Graduação completa
1411814,2020,3,MG,3170701,317070,C,2740602,251205,admissão,9,30.0,6,Mulher,3152.250000,16,Economista,Superior Completo
1470012,2020,12,MG,3170206,317020,N,7911200,251205,admissão,7,32.0,1,Homem,1759.260010,44,Economista,Médio Completo
1529252,2020,2,MG,3106200,310620,N,7810800,251205,admissão,9,30.0,1,Mulher,3586.689941,42,Economista,Superior Completo
1531042,2020,2,MG,3106200,310620,J,6319400,251205,admissão,9,32.0,6,Homem,4274.000000,40,Economista,Superior Completo
1554066,2020,1,MG,3125101,312510,C,2943300,251205,admissão,9,31.0,1,Homem,4500.000000,44,Economista,Superior Completo

#### 2.2.2.1 .str.contains()

In [ ]:
df.head(2)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental

In [ ]:
df[df['descricao_ocupacao'].str.contains('Economista')]

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
2772,2020,11,MG,3118601,311860,H,4930202,251215,admissão,7,28.0,6,Homem,1700.000000,44,Economista Financeiro,Médio Completo
4201,2020,11,MG,3106200,310620,Q,8640202,251215,admissão,9,32.0,6,Mulher,2854.090088,44,Economista Financeiro,Superior Completo
7008,2020,11,MG,3170206,317020,G,4661300,251225,admissão,9,33.0,3,Mulher,4900.000000,44,Economista do Setor Publico,Superior Completo
9764,2020,11,MG,3170206,317020,N,8211300,251225,admissão,8,20.0,6,Homem,1200.000000,44,Economista do Setor Publico,Superior Incompleto
10063,2020,11,MG,3170206,317020,N,8211300,251225,admissão,8,28.0,6,Mulher,1900.000000,44,Economista do Setor Publico,Superior Incompleto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600436,2020,3,MG,3145208,314520,C,1532700,251225,admissão,7,25.0,3,Mulher,2000.000000,44,Economista do Setor Publico,Médio Completo
1604223,2020,3,MG,3170206,317020,M,6920601,251225,admissão,9,42.0,6,Mulher,2100.000000,44,Economista do Setor Publico,Superior Completo
1604536,2020,3,MG,3106705,310670,Q,8800600,251225,admissão,9,29.0,1,Mulher,1883.630005,40,Economista do Setor Publico,Superior Completo
1616072,2020,3,MG,3170206,317020,K,6619399,251215,admissão,9,29.0,3,Mulher,2000.000000,44,Economista Financeiro,Superior Completo
1617284,2020,3,MG,3106200,310620,J,6202300,251215,admissão,9,29.0,3,Mulher,4900.000000,40,Economista Financeiro,Superior Completo

In [ ]:
df_economistas = df[df['descricao_ocupacao'].str.contains('Economista')].copy()

In [ ]:
df_economistas['descricao_ocupacao'].value_counts()

Economista Financeiro           298
Economista do Setor Publico     165
Economista Industrial            61
Economista Ambiental             28
Economista                       23
Economista Domestico             19
Economista Agroindustrial        14
Economista Regional e Urbano      1
Name: descricao_ocupacao, dtype: int64

In [ ]:
df_economistas['salario_mensal'].describe()

count      609.000000
mean      3589.494157
std       2953.301491
min          0.000000
25%       1875.000000
50%       2658.459961
75%       4274.000000
max      27000.000000
Name: salario_mensal, dtype: float64

In [ ]:
# we can do the same search without creating a new dataframe
df[df['descricao_ocupacao'].str.contains('Economista')]['descricao_ocupacao'].value_counts()

Economista Financeiro           298
Economista do Setor Publico     165
Economista Industrial            61
Economista Ambiental             28
Economista                       23
Economista Domestico             19
Economista Agroindustrial        14
Economista Regional e Urbano      1
Name: descricao_ocupacao, dtype: int64

#### 2.2.2.2 .str.startswith()

In [ ]:
df[df['descricao_ocupacao'].str.startswith('Professor')].head(3)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
203,2020,11,MG,3106200,310620,P,8550302,234520,admissão,10,32.0,1,Homem,295.700012,1,Professor de Ensino Superior na Area de Pratic...,Mestrado
278,2020,11,MG,3103504,310350,P,8531700,234510,admissão,80,35.0,1,Homem,7704.000000,40,Professor de Ensino Superior na Area de Orient...,Pós-Graduação completa
573,2020,11,MG,3106200,310620,P,8550302,234520,admissão,80,42.0,1,Homem,711.799988,2,Professor de Ensino Superior na Area de Pratic...,Pós-Graduação completa

#### 2.2.2.3 .str.endswith()

In [ ]:
df[df['descricao_ocupacao'].str.endswith('Economia')] # probably a 'PJ'

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
251737,2020,2,MG,3163706,316370,P,8531700,234805,admissão,11,30.0,1,Mulher,50.450001,4,Professor de Economia,Doutorado
311599,2020,2,MG,3163706,316370,P,8531700,234805,admissão,80,42.0,1,Homem,39.070000,6,Professor de Economia,Pós-Graduação completa
327714,2020,2,MG,3115300,311530,P,8513900,234805,admissão,9,32.0,6,Homem,620.419983,4,Professor de Economia,Superior Completo
1303103,2020,2,MG,3163706,316370,P,8531700,234805,admissão,10,55.0,1,Mulher,46.580002,4,Professor de Economia,Mestrado
1423373,2020,8,MG,3144805,314480,P,8541400,234805,admissão,9,25.0,6,Mulher,0.000000,44,Professor de Economia,Superior Completo
1506609,2020,2,MG,3163706,316370,P,8531700,234805,admissão,80,29.0,1,Homem,39.070000,2,Professor de Economia,Pós-Graduação completa
1526206,2020,2,MG,3163706,316370,P,8531700,234805,admissão,80,33.0,1,Homem,39.070000,4,Professor de Economia,Pós-Graduação completa
1528915,2020,2,MG,3163706,316370,P,8531700,234805,admissão,80,46.0,2,Homem,39.070000,4,Professor de Economia,Pós-Graduação completa

### 2.3.4 Multiple Conditions

We are still in filtering by rows...
when we apply filter, we have as output all columns based on row conditions

#### inner joint --> &

In [ ]:
# 3106200 stands for Belo Horizonte & F is for construction sector
# first thing to do: set each filter condition into PARENTESIS
df[ (df['id_municipio'] == 3106200) & (df['cnae_2_secao'] == 'F') ]

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
27,2020,11,MG,3106200,310620,F,4330499,715545,admissão,7,27.0,3,Homem,1749.000000,44,Montador de Andaimes (Edificacoes),Médio Completo
61,2020,11,MG,3106200,310620,F,4120400,391205,admissão,7,34.0,3,Homem,5700.000000,44,Inspetor de Qualidade,Médio Completo
111,2020,11,MG,3106200,310620,F,4299599,711305,admissão,7,25.0,6,Homem,1045.000000,44,Operador de Sonda de Percussao,Médio Completo
194,2020,11,MG,3106200,310620,F,4120400,715505,admissão,3,38.0,3,Homem,1749.000000,44,Carpinteiro,5ª Completo Fundamental
195,2020,11,MG,3106200,310620,F,4211101,514325,admissão,6,21.0,2,Homem,1170.400024,34,Trabalhador da Manutenção de Edificações,Médio Incompleto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622892,2020,3,MG,3106200,310620,F,4330499,717020,admissão,6,27.0,1,Homem,0.000000,44,Servente de Obras,Médio Incompleto
1622909,2020,3,MG,3106200,310620,F,4120400,717020,admissão,7,29.0,3,Homem,1503.250000,44,Servente de Obras,Médio Completo
1622919,2020,3,MG,3106200,310620,F,4211101,992220,admissão,7,28.0,3,Homem,1350.000000,44,Pedreiro de Conservacao de Vias Permanentes (E...,Médio Completo
1622966,2020,3,MG,3106200,310620,F,4120400,717020,admissão,4,40.0,3,Homem,1104.400024,44,Servente de Obras,6ª a 9ª Fundamental
1623017,2020,3,MG,3106200,310620,F,4120400,724315,admissão,5,51.0,3,Homem,2050.000000,44,Soldador,Fundamental Completo

In [ ]:
# we can do as many filters as we want
df[ (df['id_municipio'] == 3106200)
  & (df['cnae_2_secao'] == 'F')
  & (df['grau_instrucao'] == 10)
  ] # master degree

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
65262,2020,7,MG,3106200,310620,F,4299599,711305,admissão,10,29.0,3,Homem,1322.290039,44,Operador de Sonda de Percussao,Mestrado
83133,2020,7,MG,3106200,310620,F,4120400,391205,admissão,10,53.0,2,Homem,7140.000000,40,Inspetor de Qualidade,Mestrado
84251,2020,7,MG,3106200,310620,F,4211101,212420,admissão,10,36.0,1,Mulher,4087.439941,44,Analista de Suporte Computacional,Mestrado
124401,2020,11,MG,3106200,310620,F,4120400,214205,admissão,10,29.0,1,Homem,9000.000000,40,Engenheiro Civil,Mestrado
169413,2020,7,MG,3106200,310620,F,4120400,252105,admissão,10,37.0,1,Mulher,12500.000000,41,Administrador,Mestrado
175654,2020,7,MG,3106200,310620,F,4321500,951105,admissão,10,30.0,3,Homem,1632.400024,37,Eletricista de Manutencao Eletroeletronica,Mestrado
184058,2020,7,MG,3106200,310620,F,4120400,214305,admissão,10,43.0,1,Homem,14040.160156,42,Engenheiro Eletricista,Mestrado
290309,2020,7,MG,3106200,310620,F,4120400,214205,admissão,10,38.0,3,Homem,10020.000000,40,Engenheiro Civil,Mestrado
294849,2020,2,MG,3106200,310620,F,4120400,214605,admissão,10,38.0,1,Homem,9840.000000,40,Engenheiro de Materiais,Mestrado
324618,2020,2,MG,3106200,310620,F,4120400,214205,admissão,10,44.0,3,Homem,12500.000000,45,Engenheiro Civil,Mestrado
332319,2020,2,MG,3106200,310620,F,4330499,141410,admissão,10,43.0,1,Homem,1862.000000,44,Comerciante Varejista,Mestrado
356711,2020,12,MG,3106200,310620,F,4120400,214405,admissão,10,30.0,1,Homem,9840.000000,40,Engenheiro Mecanico,Mestrado
370578,2020,12,MG,3106200,310620,F,4120400,411010,admissão,10,32.0,3,Homem,4000.000000,40,Assistente Administrativo,Mestrado
376761,2020,12,MG,3106200,310620,F,4120400,354205,admissão,10,39.0,3,Homem,6800.000000,40,Comprador,Mestrado
414096,2020,6,MG,3106200,310620,F,4120400,352205,admissão,10,36.0,1,Mulher,12500.000000,45,Agente de Defesa Ambiental,Mestrado
431054,2020,6,MG,3106200,310620,F,4321500,724315,admissão,10,42.0,3,Homem,1735.790039,44,Soldador,Mestrado
440942,2020,6,MG,3106200,310620,F,4120400,318510,admissão,10,23.0,1,Homem,1500.000000,44,Desenhista Projetista de Construcao Civil,Mestrado
444716,2020,9,MG,3106200,310620,F,4321500,142605,admissão,10,35.0,1,Homem,9500.000000,40,Gerente de Pesquisa e Desenvolvimento (P&D),Mestrado
447655,2020,9,MG,3106200,310620,F,4110700,354205,admissão,10,35.0,2,Homem,5000.000000,40,Comprador,Mestrado
492296,2020,9,MG,3106200,310620,F,4399101,214305,admissão,10,47.0,1,Homem,10750.000000,44,Engenheiro Eletricista,Mestrado
499174,2020,3,MG,3106200,310620,F,4292801,214910,admissão,10,59.0,3,Homem,14000.000000,44,Engenheiro de Controle de Qualidade,Mestrado
503661,2020,3,MG,3106200,310620,F,4330499,141410,admissão,10,49.0,1,Homem,1144.000000,44,Comerciante Varejista,Mestrado
522248,2020,3,MG,3106200,310620,F,4120400,252210,admissão,10,32.0,3,Homem,3801.840088,44,Contador,Mestrado
542962,2020,6,MG,3106200,310620,F,4399101,214405,admissão,10,53.0,1,Homem,11000.000000,44,Engenheiro Mecanico,Mestrado
572475,2020,6,MG,3106200,310620,F,4330499,715615,admissão,10,51.0,1,Homem,2200.000000,44,Eletricista de Instalacoes,Mestrado
600002,2020,6,MG,3106200,310620,F,4120400,214305,admissão,10,32.0,3,Homem,9197.320312,42,Engenheiro Eletricista,Mestrado
612427,2020,6,MG,3106200,310620,F,4211101,312105,admissão,10,27.0,3,Homem,2500.000000,44,Tecnico de Obras Civis,Mestrado
617702,2020,6,MG,3106200,310620,F,4321500,314110,admissão,10,44.0,1,Mulher,5500.000000,40,Tecnico Mecanico,Mestrado
670886,2020,9,MG,3106200,310620,F,4292801,312105,admissão,10,27.0,1,Homem,5000.000000,44,Tecnico de Obras Civis,Mestrado
792329,2020,5,MG,3106200,310620,F,4211101,121010,admissão,10,45.0,3,Mulher,45000.000000,44,Diretor Geral de Empresa e Organizacoes (Excet...,Mestrado
820975,2020,7,MG,3106200,310620,F,4321500,717020,admissão,10,24.0,3,Homem,1119.800049,44,Servente de Obras,Mestrado
828327,2020,7,MG,3106200,310620,F,4211101,715125,admissão,10,51.0,3,Homem,2812.159912,44,Operador de Maquinas de Construcao Civil e Min...,Mestrado
856115,2020,1,MG,3106200,310620,F,4120400,717020,admissão,10,29.0,1,Homem,1179.199951,44,Servente de Obras,Mestrado
856129,2020,1,MG,3106200,310620,F,4120400,715505,admissão,10,54.0,1,Homem,1749.000000,44,Carpinteiro,Mestrado
987333,2020,4,MG,3106200,310620,F,4110700,715210,admissão,10,43.0,3,Homem,1525.000000,44,Pedreiro,Mestrado
1076511,2020,1,MG,3106200,310620,F,4330499,715615,admissão,10,50.0,1,Homem,1700.000000,44,Eletricista de Instalacoes,Mestrado
1094886,2020,1,MG,3106200,310620,F,4330499,141410,admissão,10,20.0,1,Homem,1045.000000,44,Comerciante Varejista,Mestrado
1101319,2020,1,MG,3106200,310620,F,4330499,141410,admissão,10,23.0,1,Homem,1045.000000,44,Comerciante Varejista,Mestrado
1134282,2020,8,MG,3106200,310620,F,4120400,514120,admissão,10,37.0,3,Homem,1749.000000,44,Zelador de Edificio,Mestrado
1145396,2020,8,MG,3106200,310620,F,4299599,142330,admissão,10,30.0,1,Homem,5000.000000,44,Analista de Negocios (A),Mestrado
1170037,2020,11,MG,3106200,310620,F,4120400,252105,admissão,10,39.0,3,Mulher,10000.000000,40,Administrador,Mestrado
1177629,2020,12,MG,3106200,310620,F,4120400,318105,admissão,10,28.0,1,Homem,4211.779785,40,Desenhista Tecnico (Arquitetura),Mestrado
1212542,2020,9,MG,3106200,310620,F,4399101,411010,admissão,10,46.0,3,Mulher,5500.000000,44,Assistente Administrativo,Mestrado
1239523,2020,10,MG,3106200,310620,F,4221902,142115,admissão,10,45.0,3,Homem,13700.000000,44,Gerente Financeiro,Mestrado
1253102,2020,10,MG,3106200,310620,F,4211101,715315,admissão,10,35.0,3,Homem,1568.439941,44,Armador de Estrutura de Concreto Armado,Mestrado
1277950,2020,10,MG,3106200,310620,F,4120400,354140,admissão,10,22.0,3,Homem,1207.800049,44,Tecnico em Atendimento e Vendas,Mestrado
1310285,2020,2,MG,3106200,310620,F,4120400,252105,admissão,10,28.0,1,Mulher,4182.000000,40,Administrador,Mestrado
1350484,2020,1,MG,3106200,310620,F,4321500,911305,admissão,10,31.0,3,Homem,1815.969971,44,"Mecanico de Manutencao de Maquinas, em Geral",Mestrado
1351727,2020,10,MG,3106200,310620,F,4292801,214910,admissão,10,60.0,3,Homem,14000.000000,44,Engenheiro de Controle de Qualidade,Mestrado
1414647,2020,3,MG,3106200,310620,F,4120400,214205,admissão,10,38.0,1,Homem,9840.000000,41,Engenheiro Civil,Mestrado
1416588,2020,8,MG,3106200,310620,F,4321500,911305,admissão,10,24.0,1,Homem,1587.619995,44,"Mecanico de Manutencao de Maquinas, em Geral",Mestrado
1511606,2020,2,MG,3106200,310620,F,4330499,141410,admissão,10,26.0,1,Homem,1749.000000,44,Comerciante Varejista,Mestrado
1603221,2020,3,MG,3106200,310620,F,4221902,141305,admissão,10,35.0,1,Homem,18000.000000,44,Gerente de Producao e Operacoes da Construcao ...,Mestrado

#### outer join --> |

In [ ]:
# BH or Contagem
df[  (df['id_municipio'] == 3106200) | (df['cnae_2_secao'] == 'F')   ]

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
3,2020,11,MG,3144805,314480,F,4321500,716610,admissão,7,32.0,2,Homem,1627.689941,44,Pintor de Obras,Médio Completo
8,2020,11,MG,3106200,310620,N,8211300,391215,admissão,9,26.0,3,Homem,1890.660034,44,Operador de Inspecao de Qualidade,Superior Completo
11,2020,11,MG,3106200,310620,I,5590699,514320,admissão,7,28.0,6,Mulher,1130.000000,44,Faxineiro (Desativado em 2010),Médio Completo
13,2020,11,MG,3102902,310290,F,4120400,717020,admissão,5,22.0,6,Homem,1426.000000,44,Servente de Obras,Fundamental Completo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623044,2020,3,MG,3124104,312410,F,4213800,992225,admissão,9,26.0,1,Homem,1045.000000,44,Auxiliar Geral de Conservacao de Vias Permanen...,Superior Completo
1623047,2020,3,MG,3136702,313670,F,4120400,717020,admissão,7,29.0,3,Homem,1106.000000,44,Servente de Obras,Médio Completo
1623053,2020,3,MG,3106200,310620,S,9430800,412205,admissão,6,16.0,3,Mulher,1045.000000,44,Continuo,Médio Incompleto
1623054,2020,3,MG,3106200,310620,G,4724500,411010,admissão,7,23.0,6,Homem,1500.000000,44,Assistente Administrativo,Médio Completo
1623060,2020,3,MG,3170701,317070,F,4120400,717020,admissão,7,21.0,6,Homem,1185.099976,44,Servente de Obras,Médio Completo

### Exercise: Filter Dataframe

1. Select from original df the following columns and assign a new df (ex. df1): mes, id do municipio, saldo da movimentação, cnae_2_secao e salário mensal, Descrição

2. choose from caged's dictionary: i) one municipio id from 'município' worksheet; ii) one description from 'descricao_ocupacao'

3. Filter dataframe rows by selected 'municipio' id and 'descricao_ocupacao' (startswith, contains, endswith) -> Test your imagination in 'descricao'!!!

In [ ]:
# filtering by columns
df1 = df[['mes', 'id_municipio', 'saldo_movimentacao', 'cnae_2_secao', 'salario_mensal', 'descricao_ocupacao']].copy()

In [ ]:
# filtering by rows
df2 = df1[(df1['id_municipio'] == 3106200)
            & (df1['cnae_2_secao'] == 'M')
            & (df['descricao_ocupacao'].str.contains('Economista'))].copy()

In [ ]:
df2['salario_mensal']

47773       3100.000000
116777     12000.000000
173875      2053.000000
249544      3000.000000
348693      2590.000000
388098      5000.000000
426464      2500.000000
489250      4545.000000
492955      3000.000000
562321      1151.040039
585677     17500.000000
674296      1600.000000
696136      8500.000000
710438      4000.000000
753353      3183.300049
756640      3468.000000
758160      5781.240234
767700      2053.000000
805843     14500.000000
864667      2500.000000
876252      3414.000000
889940      1800.000000
911535      4911.600098
933750      2400.000000
965267      3700.000000
1007215     4500.000000
1044907        0.000000
1084995     4000.000000
1102109     4000.000000
1121885     2687.000000
1162762     4500.000000
1179476     2000.000000
1197034     7999.200195
1242423     2800.000000
1267742        0.000000
1269542        0.000000
1279002     7345.830078
1420373     1800.000000
1426509     7427.160156
1433831     2000.000000
1510202     1702.520020
1576673        0.000000
1592555     1536.989990
Name: salario_mensal, dtype: float64

In [ ]:
df2['salario_mensal'].mean()

4012.7646711482557

## 2.3 By columns and rows

Invoking accessors is usually considered better practice than chained assignment for these reasons:

1. The intention to modify df is clearer to pandas when you use a single method.
2. The code is cleaner for readers.
3. The accessors tend to have better performance, even though you won’t notice this in most cases.



Source: https://realpython.com/pandas-settingwithcopywarning/

Getter Property

### 2.3.1 .loc[]

Also in 5º class (transformation)

In [ ]:
# it is just the same as df[df['mes'] == 11]
df.loc[df['mes'] == 11].head()

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo
3,2020,11,MG,3144805,314480,F,4321500,716610,admissão,7,32.0,2,Homem,1627.689941,44,Pintor de Obras,Médio Completo
4,2020,11,MG,3122306,312230,G,4713001,411005,admissão,7,30.0,3,Mulher,1148.319946,44,"Auxiliar de Escritorio, em Geral",Médio Completo

In [ ]:
# adding a column to the filter
df.loc[df['id_municipio'] == 3106200, 'descricao_ocupacao']

8           Operador de Inspecao de Qualidade
11             Faxineiro (Desativado em 2010)
14                          Operador de Caixa
20                          Operador de Caixa
27         Montador de Andaimes (Edificacoes)
                          ...
1623036                     Servente de Obras
1623037                                 Vigia
1623043              Repositor de Mercadorias
1623053                              Continuo
1623054             Assistente Administrativo
Name: descricao_ocupacao, Length: 354399, dtype: object

In [ ]:
# Second argument: inside square brackets and separeted by a comma
# Second argument: now select just the needed cols (inside a list sctructure)
df1 = df.loc[df['id_municipio'] == 3106200 , ['mes', 'sexo', 'id_municipio', 'saldo_movimentacao']]
df1

         mes    sexo  id_municipio saldo_movimentacao
8         11   Homem       3106200           admissão
11        11  Mulher       3106200           admissão
14        11  Mulher       3106200           admissão
20        11  Mulher       3106200           admissão
27        11   Homem       3106200           admissão
...      ...     ...           ...                ...
1623036    3   Homem       3106200           admissão
1623037    3   Homem       3106200           admissão
1623043    3  Mulher       3106200           admissão
1623053    3  Mulher       3106200           admissão
1623054    3   Homem       3106200           admissão

[354399 rows x 4 columns]

Setter Property

In [ ]:
# first lets GET the data
df.loc[df['saldo_movimentacao'] == 1, 'saldo_movimentacao']

Series([], Name: saldo_movimentacao, dtype: object)

In [ ]:
# Now, lets SET the new data
# Attention to the = vs ==
# ( = is to assign a new value, == is to check if a value is True or False based on some condition)
df.loc[df['saldo_movimentacao'] == 1, 'saldo_movimentacao'] = 'admissão'

In [ ]:
df.head()

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo
3,2020,11,MG,3144805,314480,F,4321500,716610,admissão,7,32.0,2,Homem,1627.689941,44,Pintor de Obras,Médio Completo
4,2020,11,MG,3122306,312230,G,4713001,411005,admissão,7,30.0,3,Mulher,1148.319946,44,"Auxiliar de Escritorio, em Geral",Médio Completo

In [ ]:
df['saldo_movimentacao'].value_counts()

admissão    1623070
Name: saldo_movimentacao, dtype: int64

### Exercise: Assign new values for columns


Let the Class do the same for 'Sexo'

In [ ]:
df['sexo']

0           Homem
1           Homem
2          Mulher
3           Homem
4          Mulher
            ...
1623065     Homem
1623066     Homem
1623067     Homem
1623068    Mulher
1623069     Homem
Name: sexo, Length: 1623070, dtype: object

In [ ]:
df.loc[df['sexo'] == 1, 'sexo'] = 'Homem'
df.loc[df['sexo'] == 3, 'sexo'] = 'Mulher'
df.loc[df['sexo'] == 9, 'sexo'] = 'Não definido'

In [ ]:
df['sexo'].value_counts()

Homem     1041782
Mulher     581288
Name: sexo, dtype: int64

## 2.4 .query()

In [ ]:
df.head(2)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental

In [ ]:
# first type the column and what it must meet
df.query("grau_instrucao == 4").head(2)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
6,2020,11,MG,3131307,313130,G,4721102,848305,admissão,4,24.0,6,Homem,1188.560059,44,Padeiro,6ª a 9ª Fundamental

In [ ]:
# above example is equivalent to
df[df['grau_instrucao'] == 4].head(2)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
6,2020,11,MG,3131307,313130,G,4721102,848305,admissão,4,24.0,6,Homem,1188.560059,44,Padeiro,6ª a 9ª Fundamental

In [ ]:
# if column is a string --> condition must be specified using quotes (double or simple)
df.query("sexo == 'Homem' ").head()

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
3,2020,11,MG,3144805,314480,F,4321500,716610,admissão,7,32.0,2,Homem,1627.689941,44,Pintor de Obras,Médio Completo
6,2020,11,MG,3131307,313130,G,4721102,848305,admissão,4,24.0,6,Homem,1188.560059,44,Padeiro,6ª a 9ª Fundamental
7,2020,11,MG,3125101,312510,N,7820500,214320,admissão,9,25.0,1,Homem,5400.000000,44,Engenheiro Eletricista de Projetos,Superior Completo

In [ ]:
# .query() can be very convenient when dealing with multiple conditions
df.query("sexo == 'Homem' & grau_instrucao == 4").head() # or 'and' instead of & (also 'or' instead of |)
# note that column label must be a sequence of alphanumeric chacters without space inside them
# that's one of the reasons why we use '_' (underline) to replace spaces in columns labels

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
6,2020,11,MG,3131307,313130,G,4721102,848305,admissão,4,24.0,6,Homem,1188.560059,44,Padeiro,6ª a 9ª Fundamental
38,2020,11,MG,3106200,310620,N,8121400,514320,admissão,4,43.0,6,Homem,1174.880005,44,Faxineiro (Desativado em 2010),6ª a 9ª Fundamental
47,2020,11,MG,3107406,310740,C,1539400,764115,admissão,4,23.0,6,Homem,1056.250000,44,Preparador de Calcados,6ª a 9ª Fundamental
85,2020,11,MG,3170206,317020,F,4120400,710205,admissão,4,45.0,2,Homem,7246.220215,44,Mestre (Construcao Civil),6ª a 9ª Fundamental

In [ ]:
# using vars within query
salario_minimo = 1020
df.query("salario_mensal > @salario_minimo").head(3)

,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo

# 3.Pivot Table (Grouping)


Pivot Table aggregates data by some numeric calculations (mean, count, sum...)

#### 3.1 Creating a Subset

Before create a pivot table, we must verify if continuous variables of interest are well specified

In [ ]:
# it is definily not ok
df['salario_mensal'].describe().round(2)
# the max is too big --> we need to filter the data, excluding salario_mensal outliers

count    1623070.00
mean        1759.47
std         8213.35
min            0.00
25%         1086.80
50%         1195.00
75%         1568.44
max       495000.00
Name: salario_mensal, dtype: float64

If I must filter, how much observations I will lost?

### 3.1.2 len()

A core python function that can be used with pandas dataframes

In [ ]:
len(df) # it will show how much data we have in this dataframe (how much rows)

1623070

In [ ]:
# we have lots of observations with zero values as salario_mensal
len(df[df['salario_mensal'] == 0])

34501

In [ ]:
# it does really makes sense so big salaries with CLT? --> futebol players?
len(df[df['salario_mensal'] > 100000])

1427

### Exercise: Filter Dataframe and create a new one



1020 < SALARIO MENSAL < 1.000.000

Use len() before and after filter the dataframe

In [ ]:
len(df)

1623070

In [ ]:
# we must also filter for
df1 = df.loc[(df['salario_mensal'] > 1020) & (df['salario_mensal'] < 100000)].copy()

In [ ]:
len(df1)

1494749

### 3.1.3 .pivot_table()

In [ ]:
# whats the average wage for each occupation?
df1.pivot_table(index = 'descricao_ocupacao', # var to group --> some string or categorical var --> # ANALYSIS UNIT
               values = 'salario_mensal', # var to be calculated --> some continuous var
               aggfunc = 'mean' # the function to apply
               )

                                                    salario_mensal
descricao_ocupacao
Abatedor                                               1139.253452
Acabador de Calcados                                   1243.378129
Acabador de Embalagens (Flexiveis e Cartotecnicas)     1277.013716
Acabador de Superficies de Concreto                    1454.990317
Acougueiro                                             1269.452901
...                                                            ...
Visual Merchandiser                                    1619.094889
Viveirista Florestal                                   1124.588964
Xaropeiro                                              2423.411524
Zelador de Edificio                                    1372.798229
Zootecnista                                            4108.077690

[2172 rows x 1 columns]

In [ ]:
# applying chainned commands
df1.pivot_table(index = 'descricao_ocupacao', # var to group
               values = 'salario_mensal', # var to be calculated
               aggfunc = 'mean' # the function to apply
               ).sort_values(by='salario_mensal').round(2)
# obs: the chainned method is being applied into the pivot_table, not the dataframe

                                                    salario_mensal
descricao_ocupacao
Fitotecario                                                1039.00
Ajustador Naval (Reparo e Construcao)                      1039.00
Ceramista Moldador                                         1043.00
Trabalhador da Exploracao de Acai                          1043.50
Agente Indígena de Saneamento                              1044.58
...                                                            ...
Dirigente do Servico Publico Estadual e Distrital         17828.24
Pesquisador em Biologia Ambiental                         18583.94
Advogado (Direito Penal)                                  20059.15
Diretor de Producao e Operacoes da Industria de...        23038.83
Engenheiro Civil (Pontes e Viadutos)                      45000.00

[2172 rows x 1 columns]

In [ ]:
# we can assign results into a new dataframe
tab_salarios = df1.pivot_table(index = 'descricao_ocupacao', # var to group
                              values = 'salario_mensal', # var to be calculated
                              aggfunc = 'mean' # the function to apply
                              )
tab_salarios.head(3)
# BE AWARE --> the index var is the index of the new df, it is not a column

                                                    salario_mensal
descricao_ocupacao
Abatedor                                               1139.253452
Acabador de Calcados                                   1243.378129
Acabador de Embalagens (Flexiveis e Cartotecnicas)     1277.013716

Have in mind:

Index --> Categorical var

Values --> Continous var

Aggfunc --> the function ('mean', 'count', 'median', 'std', 'sum')

Testing different Indexes, values and aggfunc

#### Adding another aggfunctions

We could also add a measure of dispersion of data

In [ ]:
# the new aggfunctions will be applied for the values specified inside pivot_table
df1.pivot_table(index = 'descricao_ocupacao',
                values = 'salario_mensal',
                aggfunc = 'count'
                )
# count --> does counting in respect to the column defined in 'values'
# equivalent --> we have X salaries informed for profession Y

                                                    salario_mensal
descricao_ocupacao
Abatedor                                                      1431
Acabador de Calcados                                          1054
Acabador de Embalagens (Flexiveis e Cartotecnicas)             178
Acabador de Superficies de Concreto                            253
Acougueiro                                                   10803
...                                                            ...
Visual Merchandiser                                             45
Viveirista Florestal                                           188
Xaropeiro                                                      203
Zelador de Edificio                                           2220
Zootecnista                                                     39

[2172 rows x 1 columns]

In [ ]:
# adding more than one function simultaneously
tab_salarios = df1.pivot_table(index = 'descricao_ocupacao',
                              values = 'salario_mensal',
                              aggfunc = ['mean', 'std', 'median', 'count', 'min', 'max', 'sum']
                              )
tab_salarios.head(3)

,mean,std,median,count,min,max,sum
,salario_mensal,salario_mensal,salario_mensal,salario_mensal,salario_mensal,salario_mensal,salario_mensal
descricao_ocupacao,,,,,,,
Abatedor,1139.253452,283.256947,1050.540039,1431,1030.51001,7500.0,1.630272e+06
Acabador de Calcados,1243.378129,208.486381,1200.000000,1054,1039.00000,3150.0,1.310521e+06
Acabador de Embalagens (Flexiveis e Cartotecnicas),1277.013716,391.391678,1200.000000,178,1045.00000,5500.0,2.273084e+05

#### Adding vars to calculation

In [ ]:
df1.pivot_table(index = 'descricao_ocupacao', # var to group
                values = ['salario_mensal', 'idade'], # var to be calculated
                aggfunc = 'mean' # the function to apply
                ).round(2)

                                                    idade  salario_mensal
descricao_ocupacao
Abatedor                                            28.83         1139.25
Acabador de Calcados                                27.40         1243.38
Acabador de Embalagens (Flexiveis e Cartotecnicas)  29.98         1277.01
Acabador de Superficies de Concreto                 29.56         1454.99
Acougueiro                                          31.55         1269.45
...                                                   ...             ...
Visual Merchandiser                                 29.98         1619.09
Viveirista Florestal                                28.82         1124.59
Xaropeiro                                           27.67         2423.41
Zelador de Edificio                                 39.68         1372.80
Zootecnista                                         31.23         4108.08

[2172 rows x 2 columns]

In [ ]:
df1.pivot_table(index = 'descricao_ocupacao', # var to group
                values = ['salario_mensal', 'idade'], # var to be calculated
                aggfunc = 'mean' # the function to apply
                ).sort_values(by='idade').round(2)

                                                    idade  salario_mensal
descricao_ocupacao
Oficial General do Exercito                         17.50         1064.80
Tecnico em Calcados e Artefatos de Couro            18.00         1300.00
Confeccionador de Escovas, Pinceis e Produtos S...  18.00         1240.00
Auxiliar Tecnico de Sinalizacao Nautica             18.00         1248.00
Produtor de Cana-De-Acucar                          18.00         1372.04
...                                                   ...             ...
Meteorologista                                      57.67         1393.33
Produtor na Olericultura de Talos, Folhas e Flores  58.00         1567.50
Classificador de Couros                             58.00         1069.00
Oficial do Registro de Imoveis                      60.33         7133.33
Arbitro Desportivo                                  62.00         1246.88

[2172 rows x 2 columns]

#### Adding levels to index

Building a multi-level index dataframe

In [ ]:
# Index level is set by order of values
df1.pivot_table(index = ['descricao_grau_instrucao', 'sexo'], # var to group
                values = 'salario_mensal', # var to be calculated
                aggfunc = 'mean' # the function to apply
                ).round(2)

                                 salario_mensal
descricao_grau_instrucao sexo
5ª Completo Fundamental  Homem          1497.13
                         Mulher         1280.25
6ª a 9ª Fundamental      Homem          1475.34
                         Mulher         1226.70
Analfabeto               Homem          1583.99
                         Mulher         1433.27
Até 5ª Incompleto        Homem          1498.86
                         Mulher         1220.16
Doutorado                Homem          5224.78
                         Mulher         4847.25
Fundamental Completo     Homem          1507.70
                         Mulher         1223.16
Mestrado                 Homem          5143.92
                         Mulher         4242.34
Médio Completo           Homem          1566.48
                         Mulher         1279.15
Médio Incompleto         Homem          1416.91
                         Mulher         1219.89
Pós-Graduação completa   Homem          6246.12
                         Mulher         4020.08
Superior Completo        Homem          3747.43
                         Mulher         2493.50
Superior Incompleto      Homem          1892.67
                         Mulher         1493.78

#### Adding Columns

In [ ]:
# generating one column for each value in columns
df1.pivot_table(index = 'descricao_grau_instrucao', # var to group
                values = 'salario_mensal',
                columns='sexo', # breaks index in two groups to be displayed as different columns
                aggfunc = 'mean' # the function to apply
                ).round(2)

sexo                        Homem   Mulher
descricao_grau_instrucao
5ª Completo Fundamental   1497.13  1280.25
6ª a 9ª Fundamental       1475.34  1226.70
Analfabeto                1583.99  1433.27
Até 5ª Incompleto         1498.86  1220.16
Doutorado                 5224.78  4847.25
Fundamental Completo      1507.70  1223.16
Mestrado                  5143.92  4242.34
Médio Completo            1566.48  1279.15
Médio Incompleto          1416.91  1219.89
Pós-Graduação completa    6246.12  4020.08
Superior Completo         3747.43  2493.50
Superior Incompleto       1892.67  1493.78

#### specify aggfunc for values

But how to calculate an aggfun for just a specific var?

passing a dictionary structure inside aggfunc: keys will be the columns and the values will be the desire aggfunc

In [ ]:
df1.pivot_table(index = 'cnae_2_secao', # var to group
                values = ['salario_mensal', 'idade'], # var to be calculated
                aggfunc = ['mean', 'sum']).head()

                   mean                       sum
                  idade salario_mensal      idade salario_mensal
cnae_2_secao
A             33.353363    1441.813738  2079849.0   8.990862e+07
B             33.586387    2986.851912   373044.0   3.317496e+07
C             30.834829    1551.960032  8044961.0   4.049141e+08
D             33.067308    3951.890521    17195.0   2.054983e+06
E             33.619878    1400.462413   219874.0   9.159024e+06

In [ ]:
# adding dictionay structure into aggfunc argument
# with this its possible to specify the aggfunc for each column
# the structure must meet the pattern {'column1' : 'aggfunc1', 'column2': 'aggfun2'}
tab_salario = df1.pivot_table(index = ['cnae_2_secao'], # var to group
                                    values = ['salario_mensal', 'idade'], # var to be calculated
                                    aggfunc = {'salario_mensal': ['sum', 'mean'],
                                              'idade': 'mean'}
                                    ).round(2)
tab_salario.head()

              idade salario_mensal
               mean           mean           sum
cnae_2_secao
A             33.35        3046.91  1.911875e+08
B             33.59        3030.55  3.366636e+07
C             30.83        1686.85  4.403464e+08
D             33.07        3951.89  2.054983e+06
E             33.62        1455.67  9.522984e+06

#### Adjusting the table

There are two things to do before export this file

Adjust indexes and columns

In [ ]:
tab_salario.head()

              idade salario_mensal
               mean           mean           sum
cnae_2_secao
A             33.35        3046.91  1.911875e+08
B             33.59        3030.55  3.366636e+07
C             30.83        1686.85  4.403464e+08
D             33.07        3951.89  2.054983e+06
E             33.62        1455.67  9.522984e+06

In [ ]:
tab_salario.columns # it has three elements

MultiIndex([(         'idade', 'mean'),
            ('salario_mensal', 'mean'),
            ('salario_mensal',  'sum')],
           )

In [ ]:
tab_salario.columns = ['idade_media', 'salario_mensal_medio', 'salario_mensal_soma']

In [ ]:
tab_salario.head(4)

              idade_media  salario_mensal_medio  salario_mensal_soma
cnae_2_secao
A                   33.35               3046.91         1.911875e+08
B                   33.59               3030.55         3.366636e+07
C                   30.83               1686.85         4.403464e+08
D                   33.07               3951.89         2.054983e+06

In [ ]:
tab_salario.reset_index(inplace=True)

In [ ]:
tab_salario.head(4)

  cnae_2_secao  idade_media  salario_mensal_medio  salario_mensal_soma
0            A        33.35               3046.91         1.911875e+08
1            B        33.59               3030.55         3.366636e+07
2            C        30.83               1686.85         4.403464e+08
3            D        33.07               3951.89         2.054983e+06

# 4.Exporting

###.to_csv()

In [ ]:
# to save in workspace --> it can be downloaded
tab_salario.to_csv('tabela_de_salarios.csv')

In [ ]:
# to save on local machine
#from google.colab import files
#files.download("salario_por_sexo_e_setor.csv")

# 5.Bonus Section

## 5.1 Filter with & and | simultaneously

In [ ]:
# increasing complexity
df[ (df['id_municipio'] == 3106200)
  & (df['cnae_2_secao'] == 'F')
  & ( (df['grau_instrucao'] == 10) | (df['grau_instrucao'] == 11) ) # a master or a phd
  ]
# equivalent: I want all jobs in BH, in construction. These jobs must have a masters or phd degree

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
65268,119168,2020,7,MG,3106200,310620,F,4299599,711305,admissão,10,29.0,3,Homem,1322.290039,44,Operador de Sonda de Percussao,Mestrado
74953,136972,2020,7,MG,3106200,310620,F,4221902,225139,admissão,11,28.0,1,Mulher,6500.000000,44,Médico Sanitarista,Doutorado
83140,152044,2020,7,MG,3106200,310620,F,4120400,391205,admissão,10,53.0,2,Homem,7140.000000,40,Inspetor de Qualidade,Mestrado
84258,154058,2020,7,MG,3106200,310620,F,4211101,212420,admissão,10,36.0,1,Mulher,4087.439941,44,Analista de Suporte Computacional,Mestrado
110060,201272,2020,11,MG,3106200,310620,F,4120400,225140,admissão,11,60.0,1,Homem,1100.000000,15,Médico do Trabalho,Doutorado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414740,2825861,2020,3,MG,3106200,310620,F,4120400,214205,admissão,10,38.0,1,Homem,9840.000000,41,Engenheiro Civil,Mestrado
1416681,2831176,2020,8,MG,3106200,310620,F,4321500,911305,admissão,10,24.0,1,Homem,1587.619995,44,"Mecanico de Manutencao de Maquinas, em Geral",Mestrado
1474034,2938418,2020,12,MG,3106200,310620,F,4399101,252545,admissão,11,31.0,1,Mulher,6500.000000,44,Analista Financeiro (Instituicoes Financeiras),Doutorado
1511706,3007229,2020,2,MG,3106200,310620,F,4330499,141410,admissão,10,26.0,1,Homem,1749.000000,44,Comerciante Varejista,Mestrado
1603329,3180199,2020,3,MG,3106200,310620,F,4221902,141305,admissão,10,35.0,1,Homem,18000.000000,44,Gerente de Producao e Operacoes da Construcao ...,Mestrado

In [ ]:
# its different from
df[ (df['id_municipio'] == 3106200)
  & (df['cnae_2_secao'] == 'F')
  & (df['grau_instrucao'] == 10)
  | (df['grau_instrucao'] == 11)
  ]
# equivalent: I want all jobs in BH, in construction, with a master.
# or I can have all doctors (no matter what sector and in which city)
# note how many rows we do have for this filter (continue)

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
1456,2665,2020,11,MG,3106200,310620,O,8411600,515215,admissão,11,56.0,3,Mulher,4200.000000,44,Auxiliar de Laboratorio de Analises Clinicas,Doutorado
4953,9137,2020,11,MG,3134202,313420,N,8219901,313205,admissão,11,24.0,1,Homem,1138.180054,44,Tecnico de Manutencao Eletronica,Doutorado
9959,17977,2020,11,MG,3144805,314480,I,5611201,510135,admissão,11,51.0,6,Homem,2000.000000,44,Maître,Doutorado
10612,19160,2020,11,MG,3170206,317020,M,7120100,203405,admissão,11,32.0,1,Homem,9000.000000,0,Pesquisador em Ciencias Agronomicas,Doutorado
11448,20743,2020,11,MG,3136702,313670,P,8531700,234435,admissão,11,44.0,1,Mulher,0.000000,30,Professor de Medicina,Doutorado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618867,3213494,2020,3,MG,3136702,313670,P,8531700,410105,admissão,11,33.0,1,Mulher,2298.340088,20,Supervisor Administrativo,Doutorado
1619041,3213855,2020,3,MG,3148004,314800,C,1012103,784205,admissão,11,30.0,3,Mulher,1045.000000,44,Alimentador de Linha de Producao,Doutorado
1621014,3218009,2020,3,MG,3106705,310670,P,8532500,234520,admissão,11,57.0,6,Homem,722.359985,3,Professor de Ensino Superior na Area de Pratic...,Doutorado
1622078,3220216,2020,3,MG,3106200,310620,P,8531700,234320,admissão,11,30.0,3,Mulher,952.200012,0,Professor de Geologia,Doutorado
1622735,3221607,2020,3,MG,3127701,312770,P,8533300,234515,admissão,11,35.0,2,Mulher,5997.000000,20,Professor de Ensino Superior na Area de Pesqui...,Doutorado

In [ ]:
# phds alone
len(df[(df['grau_instrucao'] == 11)])

1476

In [ ]:
# and this from the jobs in BH, in construction, with a master's degree.
len(df[ (df['id_municipio'] == 3106200)
      & (df['cnae_2_secao'] == 'F')
      & (df['grau_instrucao'] == 10)])

53

Multiple conditions inside .loc[]

In [ ]:
# for multiple conditions it is the same logic -> we must separate conditions inside ()
df.loc[ (df['id_municipio'] == 3106200) | (df['id_municipio'] == 3131307) , 'descricao_ocupacao']

6                                    Padeiro
8          Operador de Inspecao de Qualidade
11            Faxineiro (Desativado em 2010)
14                         Operador de Caixa
20                         Operador de Caixa
                         ...
1623153             Repositor de Mercadorias
1623155                    Operador de Caixa
1623163                             Continuo
1623164            Assistente Administrativo
1623178     Auxiliar de Escritorio, em Geral
Name: descricao_ocupacao, Length: 376040, dtype: object

## 5.2 Filter with .iloc[]

.iloc[] is similar to .loc[] but we do not use labels of rows and columns.

Instead we used their positions in the dataframe

In [ ]:
# first argument is just the rows
# : --> signal for 'until'
df.iloc[0:4] # it means the first until the fourth

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,4,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,5,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,8,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo
3,11,2020,11,MG,3144805,314480,F,4321500,716610,admissão,7,32.0,2,Homem,1627.689941,44,Pintor de Obras,Médio Completo

In [ ]:
# adding columns in the filter
df.iloc[0:4, 0:6]
# rows condition: from the first to the fourth
# columns conditions: from the first to the sixth

   Unnamed: 0   ano  mes sigla_uf  id_municipio  id_municipio_6
0           4  2020   11       MG       3152501          315250
1           5  2020   11       MG       3127701          312770
2           8  2020   11       MG       3118601          311860
3          11  2020   11       MG       3144805          314480

In [ ]:
# it also accepts a list as argument
df.iloc[0:4,
        [0, 1, 5, 6] # the first, the second, the sixth and the seventh
        ]

   Unnamed: 0   ano  id_municipio_6 cnae_2_secao
0           4  2020          315250            G
1           5  2020          312770            F
2           8  2020          311860            G
3          11  2020          314480            F

## 5.3 More on .query()

A way to filter dataframes based on strings (less code --> faster to type)

In [ ]:
df.query("mes in [11, 12]").head(3)

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,4,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,5,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,8,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo

In [ ]:
# query also accepts inplace = True --> replacing existing df with its filter
df1['mes'].value_counts()

10    160875
11    152060
9     147277
2     143098
3     140420
1     134366
8     133627
12    126692
7     119574
6      97502
5      79369
4      61316
Name: mes, dtype: int64

In [ ]:
df1.query("mes == 11", inplace=True)

In [ ]:
df1['mes'].value_counts()

11    152060
Name: mes, dtype: int64

### STAR

In [ ]:
# query does also support arithmetic operations (without creating a new variable)
df.query("salario_mensal/horas_contratuais > 100").head(5)
# faster, simpler, and less RAM consumming

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
7,15,2020,11,MG,3125101,312510,N,7820500,214320,admissão,9,25.0,1,Homem,5400.000000,44,Engenheiro Eletricista de Projetos,Superior Completo
26,51,2020,11,MG,3153400,315340,C,2539001,724315,admissão,7,22.0,1,Homem,1400.000000,4,Soldador,Médio Completo
48,84,2020,11,MG,3104205,310420,H,4930202,782510,admissão,7,33.0,1,Homem,1952.770020,0,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
61,107,2020,11,MG,3106200,310620,F,4120400,391205,admissão,7,34.0,3,Homem,5700.000000,44,Inspetor de Qualidade,Médio Completo
62,108,2020,11,MG,3118601,311860,G,4759801,717020,admissão,6,31.0,1,Homem,1551.050049,0,Servente de Obras,Médio Incompleto

In [ ]:
# using built in funcs
df.query("sqrt(salario_mensal)*2 > 1200").head(3)

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
7415,13503,2020,11,MG,3141108,314110,F,4292802,715220,admissão,6,60.0,6,Homem,638000.0,44,Pedreiro (Material Refratario),Médio Incompleto
13430,24282,2020,11,MG,3106200,310620,N,8011101,517330,admissão,6,34.0,3,Homem,390588.0,44,Vigilante,Médio Incompleto
15719,28469,2020,11,MG,3106200,310620,N,8011101,517330,admissão,8,27.0,2,Homem,390588.0,44,Vigilante,Superior Incompleto

In [ ]:
# for multiline querying
df.query("""salario_mensal > 1200 \
          and salario_mensal < 15000 \
          and cnae_2_secao == 'M'""")

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
30,58,2020,11,MG,3135100,313510,M,7120100,715125,admissão,7,43.0,3,Homem,3000.000000,44,Operador de Maquinas de Construcao Civil e Min...,Médio Completo
68,119,2020,11,MG,3106200,310620,M,7112000,715525,admissão,5,50.0,3,Homem,1749.000000,44,Carpinteiro de Obras,Fundamental Completo
102,178,2020,11,MG,3170206,317020,M,7020400,411010,admissão,8,27.0,3,Mulher,1555.880005,44,Assistente Administrativo,Superior Incompleto
115,197,2020,11,MG,3106200,310620,M,7490104,411010,admissão,8,31.0,6,Mulher,2000.000000,44,Assistente Administrativo,Superior Incompleto
122,206,2020,11,MG,3144805,314480,M,7112000,717020,admissão,3,28.0,3,Homem,1250.000000,40,Servente de Obras,5ª Completo Fundamental
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622799,3221736,2020,3,MG,3106200,310620,M,7319002,521115,admissão,7,22.0,3,Mulher,5522.000000,0,Promotor de Vendas,Médio Completo
1622819,3221786,2020,3,MG,3106200,310620,M,7112000,318510,admissão,8,20.0,1,Mulher,1300.000000,40,Desenhista Projetista de Construcao Civil,Superior Incompleto
1622879,3221913,2020,3,MG,3135605,313560,M,7119701,773110,admissão,6,43.0,1,Homem,2252.000000,40,Operador de Serras no Desdobramento de Madeira,Médio Incompleto
1622908,3221978,2020,3,MG,3106200,310620,M,7112000,214405,admissão,80,34.0,3,Homem,9500.000000,40,Engenheiro Mecanico,Pós-Graduação completa
1622980,3222125,2020,3,MG,3110608,311060,M,6920601,411005,admissão,9,30.0,1,Homem,1500.000000,40,"Auxiliar de Escritorio, em Geral",Superior Completo

In [ ]:
# for .str.contains() we must specify engine = 'python'
df.query("descricao_ocupacao.str.contains('Economista')", engine = 'python').head(3)

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
2772,5078,2020,11,MG,3118601,311860,H,4930202,251215,admissão,7,28.0,6,Homem,1700.000000,44,Economista Financeiro,Médio Completo
4201,7747,2020,11,MG,3106200,310620,Q,8640202,251215,admissão,9,32.0,6,Mulher,2854.090088,44,Economista Financeiro,Superior Completo
7008,12788,2020,11,MG,3170206,317020,G,4661300,251225,admissão,9,33.0,3,Mulher,4900.000000,44,Economista do Setor Publico,Superior Completo

## 5.4 Dealing with Columns MultiIndex

After apply pivot_table while using multiple aggfunc (like mean, std...) we end up with a dataframe with MultiIndex Column, like:

In [ ]:
tab_salarios = df1.pivot_table(index = 'descricao_ocupacao',
                              values = 'salario_mensal',
                              aggfunc = ['mean', 'std', 'count']
                              )
tab_salarios.head(3)

,mean,std,count
,salario_mensal,salario_mensal,salario_mensal
descricao_ocupacao,,,
Abatedor,1166.448399,272.417043,132
Acabador de Calcados,1245.402344,197.704743,81
Acabador de Embalagens (Flexiveis e Cartotecnicas),1377.313344,217.698679,12

In [ ]:
# we cannot access data in the usual way
# to get salario_mensal mean we should do
tab_salarios['mean']['salario_mensal'] # instead of just tab_salarios['mean']
# We have saw one way to deal with this, which wasthe code below
# tab_salarios.columns = ['mean_salario_mensal', 'std_salario_mensal', 'count_salario_mensal']
# there are two other ways to change multiIndex to just index

descricao_ocupacao
Abatedor                                              1166.448399
Acabador de Calcados                                  1245.402344
Acabador de Embalagens (Flexiveis e Cartotecnicas)    1377.313344
Acabador de Superficies de Concreto                   1616.481553
Acougueiro                                            1281.597245
                                                         ...
Visual Merchandiser                                   1328.292140
Viveirista Florestal                                  1098.989971
Xaropeiro                                             3558.686523
Zelador de Edificio                                   2622.942205
Zootecnista                                           5907.419922
Name: salario_mensal, Length: 1591, dtype: float64

Option 1.

We could just drop one of the levels

In [ ]:
# with .get_level_values(level) we can see what values are inside each one
tab_salarios.columns.get_level_values(0) # the first level

Index(['mean', 'std', 'count'], dtype='object')

In [ ]:
tab_salarios.columns.get_level_values(1) # the second level

Index(['salario_mensal', 'salario_mensal', 'salario_mensal'], dtype='object')

In [ ]:
# then we could use .droplevel(level) to drop some level
tab_salarios.columns.droplevel(0)
# the output shows what remains after the drop, but it returns only a view
# it has not changed the multi columns to just one level column

Index(['salario_mensal', 'salario_mensal', 'salario_mensal'], dtype='object')

In [ ]:
# to do that we must assing the new values into tab_salarios.columns
tab_salarios.columns = tab_salarios.columns.droplevel(0)

In [ ]:
tab_salarios.head(3)
# the thing is... we lost information about which statistics each column represent
# that leads us to the second way

,salario_mensal,salario_mensal,salario_mensal
descricao_ocupacao,,,
Abatedor,1166.448399,272.417043,132
Acabador de Calcados,1245.402344,197.704743,81
Acabador de Embalagens (Flexiveis e Cartotecnicas),1377.313344,217.698679,12

Option 2.

In [ ]:
# Build the table again
tab_salarios = df1.pivot_table(index = 'descricao_ocupacao',
                              values = 'salario_mensal',
                              aggfunc = ['mean', 'std', 'count']
                              )
tab_salarios.head(3)

,mean,std,count
,salario_mensal,salario_mensal,salario_mensal
descricao_ocupacao,,,
Abatedor,1166.448399,272.417043,132
Acabador de Calcados,1245.402344,197.704743,81
Acabador de Embalagens (Flexiveis e Cartotecnicas),1377.313344,217.698679,12

In [ ]:
# We can use the map('_'.join) function --> a fancier way
tab_salarios.columns.map('_'.join)

Index(['mean_salario_mensal', 'std_salario_mensal', 'count_salario_mensal'], dtype='object')

### More on MultiIndex

What is the benefit to use MultiIndex instead of just 2D-dataframe?


Hierarchical indexing (also referred to as “multi-level” indexing) opens the door to some quite sophisticated data analysis and manipulation, especially for working with higher dimensional data.

In essence, it enables you to effectively store and manipulate arbitrarily high dimension data in a 2-dimensional tabular structure (DataFrame).

Efficience must not be a concern when dealing with MultiIndex data.

Although an interesting way to manipulate dataframes, it is stays on more advandced topics of Dataframes

Some interesting links:

https://stackoverflow.com/questions/13226029/benefits-of-pandas-multiindex

https://stackoverflow.com/questions/37311699/high-dimensional-data-structure-in-python?noredirect=1&lq=1

## 5.5 Using percentiles in .pivot_table()

In [ ]:
# lets take the below table as example --> suppose we wanted to have percentiles of 'salario_mensal'
df1.pivot_table(index = 'descricao_ocupacao', # var to group
                values = 'salario_mensal', # var to be calculated
                aggfunc = 'median' # the function to apply
                ).round(2)

                                                    salario_mensal
descricao_ocupacao
Abatedor                                                   1084.84
Acabador de Calcados                                       1200.00
Acabador de Embalagens (Flexiveis e Cartotecnicas)         1348.00
Acabador de Superficies de Concreto                        1268.20
Acougueiro                                                 1165.00
...                                                            ...
Visual Merchandiser                                        1288.00
Viveirista Florestal                                       1102.20
Xaropeiro                                                  5324.00
Zelador de Edificio                                        1238.09
Zootecnista                                                8111.13

[1591 rows x 1 columns]

In [ ]:
# first we must be sure we imported numpy
import numpy as np

In [ ]:
# we must build the percentile functions --> yes, what an inconvinient way, but what I can do?
def per_25(df):
        return np.percentile(df, 25)
def per_75(df):
        return np.percentile(df, 75)

In [ ]:
# and them is just to apply them withou quetoes inside aggfunc along the other aggfuncs we have viewed
df1.pivot_table(index = 'descricao_ocupacao', # var to group
                values = 'salario_mensal', # var to be calculated
                aggfunc = [per_25, 'median', per_75]# the function to apply
                ).round(2)

,per_25,median,per_75
,salario_mensal,salario_mensal,salario_mensal
descricao_ocupacao,,,
Abatedor,1045.00,1084.84,1201.89
Acabador de Calcados,1129.00,1200.00,1296.60
Acabador de Embalagens (Flexiveis e Cartotecnicas),1225.42,1348.00,1496.25
Acabador de Superficies de Concreto,1150.00,1268.20,1760.64
Acougueiro,1134.65,1165.00,1375.00
...,...,...,...
Visual Merchandiser,1147.12,1288.00,1462.34
Viveirista Florestal,1045.00,1102.20,1102.20
Xaropeiro,1170.71,5324.00,5324.00
Zelador de Edificio,1144.00,1238.09,1543.52
Zootecnista,4805.56,8111.13,8111.13

## 5.6 Crosstab

Similar to a pivot_table, but specifically used for count aggfunc

In [ ]:
df.head(3)

,Unnamed: 0,ano,mes,sigla_uf,id_municipio,id_municipio_6,cnae_2_secao,cnae_2_subclasse,cbo_2002,saldo_movimentacao,grau_instrucao,idade,raca_cor,sexo,salario_mensal,horas_contratuais,descricao_ocupacao,descricao_grau_instrucao
0,4,2020,11,MG,3152501,315250,G,4671100,782510,admissão,7,47.0,6,Homem,1554.119995,44,Motorista de Caminhao (Rotas Regionais e Inter...,Médio Completo
1,5,2020,11,MG,3127701,312770,F,4212000,717020,admissão,4,40.0,6,Homem,1201.199951,44,Servente de Obras,6ª a 9ª Fundamental
2,8,2020,11,MG,3118601,311860,G,4644301,414110,admissão,7,21.0,2,Mulher,1128.739990,44,Armazenista,Médio Completo

pd.crosstab()

In [ ]:
pd.crosstab(index = df1['cnae_2_secao'],
            columns = df1['sexo'])

sexo          Homem  Mulher
cnae_2_secao
A              3858    1061
B               807     228
C             18485    8106
D                27       4
E               480      53
F             20289    1462
G             21228   19538
H              7698    1202
I              3013    5118
J              2141    1108
K               426     684
L               320     290
M              3169    2199
N              9690    7807
O                71      75
P               738    1219
Q              1333    4954
R               384     354
S               997    1441
T                 1       2

In [ ]:
pd.crosstab(index = df1['cnae_2_secao'],
            columns = df1['sexo'],
            margins=True, # display margins as total values
            margins_name='total' # set label of margins column
            )

sexo          Homem  Mulher   total
cnae_2_secao
A              3858    1061    4919
B               807     228    1035
C             18485    8106   26591
D                27       4      31
E               480      53     533
F             20289    1462   21751
G             21228   19538   40766
H              7698    1202    8900
I              3013    5118    8131
J              2141    1108    3249
K               426     684    1110
L               320     290     610
M              3169    2199    5368
N              9690    7807   17497
O                71      75     146
P               738    1219    1957
Q              1333    4954    6287
R               384     354     738
S               997    1441    2438
T                 1       2       3
total         95155   56905  152060

In [ ]:
# normalize param does not work well with margins param --> its one or another
pd.crosstab(index = df1['cnae_2_secao'], columns = df1['sexo'],
            normalize = 'columns' # 'index' or 'columns'
            )

sexo             Homem    Mulher
cnae_2_secao
A             0.040544  0.018645
B             0.008481  0.004007
C             0.194262  0.142448
D             0.000284  0.000070
E             0.005044  0.000931
F             0.213221  0.025692
G             0.223089  0.343344
H             0.080900  0.021123
I             0.031664  0.089939
J             0.022500  0.019471
K             0.004477  0.012020
L             0.003363  0.005096
M             0.033304  0.038643
N             0.101834  0.137194
O             0.000746  0.001318
P             0.007756  0.021422
Q             0.014009  0.087057
R             0.004036  0.006221
S             0.010478  0.025323
T             0.000011  0.000035